* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.5) url('netflix.jpg');
    background-blend-mode: darken;
    line-height: 1.6;
    padding: 1em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

.signup-container h1 {
    color: #fff;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    margin-bottom: 1em;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #d10813;
}
